#edit-search-theme-form-1 {
  padding-top: 13px;
  width: 159px;
  margin-top: -1px;
}

#search-theme-form {
  
}

body.primary_links #search-theme-form {
  margin-top: -40px;
}

body.secondary_links.primary_links #search-theme-form {
  margin-top: -120px;
}

h1 {
  margin: 16px 0px;
}

#primary {
  padding-bottom: 40px;
  padding-top: 75px;
}

body.secondary_links #primary {
  padding-top: 54px;
}

div.geshifilter {
  padding-bottom: 20px;
}