body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 12px;
  color: #666666;
  background-color: white;
}

h2, h2 a {
  font-size: 20px;
  color: #0066CC;
}

h3 {
  font-size: 17px;
  color: #003366;
}

ul, ol {
  color: #66FF00;
}

ul li, ol li {
  color: #666666;
}

a, a:visited {
  color: #0C92FF;
  text-decoration: none;
}

blockquote {
  border-left: 1px solid #E1D6C5;
  font-style: italic;
  margin-left: 20px;
  padding-left: 15px;
  color: #957237;
}

a:hover {
  text-decoration: none;
  background-color: #B6DEFF;
}

img {
  padding: 4px;
  margin: 8px;
  border: 1px solid #70A8FF;
  -moz-box-shadow: 0px 0px 10px #70A8FF;
  -webkit-box-shadow: 0px 0px 10px #70A8FF;
  box-shadow: 0px 0px 10px #70A8FF;
}

.orange_higlight {
  background: #FF5700;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8A00', endColorstr='#FF5700');
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8A00), to(#FF5700));
  background: -moz-linear-gradient(top, #FF8A00, #FF5700);
  padding: 10px;
  color: white;
  border:  1px solid #FFC46A;
}

.blue_highlight {
  padding: 10px;
  color: white;
  background: #0D92FF;
  border: 1px solid #84CDFF;
}

.blue_highlight a {
  color: white;
}